.attachments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attachments a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border: 1px solid black;
  padding: 2px 15px;
  border-radius: 20px;
}

.ideaOwner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
}

.ideaOwner h1:first-child {
  font-size: 1.5rem;
  font-weight: 500;
}

.ideaOwner .ideaOwnerInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ideaOwner img {
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.attachments {
  margin-top: 15px;
}

.attachment {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-right: 30px;
  margin-left: 15px;
}

.attachments .feedbackBtn {
  background: linear-gradient(to right, #67bdff, #005394);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  right: 10px;
}

.attachments .feedbackBtn:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.idea {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
