.edit_profile {
  display: flex;
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  gap:30px;
}


.left{
  display:flex;
  flex-direction:column;
  flex-basis:35;
}

.right{
  width:70vw;
}

.upload_resume {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
}

.upload_button {
  background-color: #ffa500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.profile_completion {
  margin-bottom: 20px;
  text-align: center;
}

.progress_bar {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #05c165;
}

.profile_sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.section {
  display:"flex";
  align-items:"center";
  gap:"10px";
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  cursor: pointer;
}



.basic_details {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
}

.profile_picture img {
  width: 300px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.input_group {
  margin-bottom: 15px;
}

.input_group label {
  display: block;
  margin-bottom: 5px;
}

.input_group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pronouns {
  display: flex;
  justify-content: space-between;
}

.pronouns label {
  display: flex;
  align-items: center;
}

.pronouns input {
  margin-right: 5px;
}

.save_button {
  background-color: #ffa500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
