/*  */
.sectionTop{
  display: flex;
  padding-left:25px;
  margin-top: 5px;
  justify-content: space-between;
  padding-right: 35px;
}


.left_section{
  display: flex;
  justify-content: center;
  gap:20px;
  padding-left: 10px;
  flex-basis: 30;
}

.left_section .profile .box .userImage img {
  width: 100px; /* Adjust the width and height as needed */
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /* Optional: ensures the image covers the area */
}

.box{
  border-radius: 100%;
}

.left_section .profile .box{
  border:5px solid #60A4F5;
  border-radius: 100%;
  padding: 21px;
}

.info{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding-top: 20px;

}



hr{
  border: none; /* Remove the default border */
  height: 1px; /* Set the height of the hr */
  background: #ccc; /* Light color for the hr */
  margin: 20px 0; /* Space around the hr */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Light shadow */
  position: relative; /* Position for pseudo-elements */
  width: 95%;
  margin: auto;
  margin-bottom: 50px;
}

.info div{
  display: flex;
  gap:5px;
  align-items: center;
  color: #A59D9D;
  font-weight: bold;
}

.info img{
  width: 50px;
}

.imageTop{
  width: 200px;
  cursor:pointer
}

.imageBottom{
  width: 300px;
  cursor:pointer
}

.right_section .rightTop{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionBottom{
  display: flex;
  padding-left: 35px;
  gap:100px;
  margin-top: 20px;
}

.sectionBottom .leftSectionBottom{
  display: flex;
  flex-direction: column;

}

.sectionBottom .middleSectionBottom{
  background: #F6F8FA;
  padding: 12px 25px;
  height: fit-content;
}

.sectionBottom .rectangle{
  display: flex;
  flex-direction: column;
  gap:25px;
}

.rectangle .rectangleBox{
  display: flex;
  gap:30px;
}

.rectangle img{
  width: 50px;
}

.rectangleBox div h3{
 color: #60A4F5;
 font-weight: bold;
}

.rightSectionBottom{
  display: flex;
  flex-direction: column;
  gap:35px;
}

.rightSectionBottom .about{
  background: #F6F8FA;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
}

.rightSectionBottom  .skills{
  background: #F6F8FA;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
}

.rightSectionBottom  .education
{
  background: #F6F8FA;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  padding: 25px 25px;
}

.shift{
  margin-left: 20px;
  color: #BAB3B3;
  margin-top: 5px;
}

.skillsName{
  display: flex;
  gap:10px;

}

.skillsName div{
  display: flex;
  background: #D9D9D9;
  padding:5px 10px;  
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
  color: black;
}


.title{
  color: #A59D9D;
  font-weight: bold;
}

.info a{
  text-decoration:none;
  font-weight:bold;
  color:black;
}

.nonactive{
  display:none;
  visibility:hidden
}

.cross{
  cursor:pointer;
  margin-left:10px;
}

.top{
  display:flex;
  gap:10px;
  align-items:center;
  margin-bottom:5px;
}

.top button{
  background:blue;
  padding:5px;
  color:white;
  border-radius:12px;
  display:flex;
  align-items:center;
  font-weight:bold;
  cursor:pointer;
}
.options{
  border:1px solid grey;
  padding:5px 5px;
  border-radius:100%;
  cursor:pointer;
}




@media only screen and (max-width: 1100px) {
  .sectionTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
  }

  .sectionBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rightSectionBottom{
    display:flex;
  flex-direction:column;
    align-items:center
  }
}
/*   */
